TDAWPF/Service References/TDAService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/TDA.Entities" />
  <xs:element name="SelectConfiguracion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectConfiguracionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="SelectConfiguracionResult" nillable="true" type="q1:ArrayOfConfiguraciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectRol">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectRolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="SelectRolResult" nillable="true" type="q2:ArrayOfRoles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPagina">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="SelectPaginaResult" nillable="true" type="q3:ArrayOfPaginas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectRolPagina">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectRolPaginaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="SelectRolPaginaResult" nillable="true" type="q4:ArrayOfRolPaginas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectBaseSalario">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectBaseSalarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="SelectBaseSalarioResult" nillable="true" type="q5:ArrayOfBaseSalarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectTipoIdentificacion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectTipoIdentificacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="SelectTipoIdentificacionResult" nillable="true" type="q6:ArrayOfTipoIdentificaciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="usu" nillable="true" type="q7:Usuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="InsertUsuarioResult" nillable="true" type="q8:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="usu" nillable="true" type="q9:Usuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="UpdateUsuarioResult" nillable="true" type="q10:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="usu" nillable="true" type="q11:Usuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="SelectUsuarioResult" nillable="true" type="q12:ArrayOfUsuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarUsuarioID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarUsuarioIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="BuscarUsuarioIDResult" nillable="true" type="q13:ArrayOfUsuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPais">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="pai" nillable="true" type="q14:Paises" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPaisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="InsertPaisResult" nillable="true" type="q15:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePais">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="pai" nillable="true" type="q16:Paises" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePaisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="UpdatePaisResult" nillable="true" type="q17:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePais">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="pai" nillable="true" type="q18:Paises" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePaisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="DeletePaisResult" nillable="true" type="q19:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPais">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="pai" nillable="true" type="q20:Paises" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPaisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="SelectPaisResult" nillable="true" type="q21:ArrayOfPaises" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPaisID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPaisIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="BuscarPaisIDResult" nillable="true" type="q22:ArrayOfPaises" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="est" nillable="true" type="q23:Estados" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="InsertEstadoResult" nillable="true" type="q24:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="est" nillable="true" type="q25:Estados" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="UpdateEstadoResult" nillable="true" type="q26:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectEstado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="est" nillable="true" type="q27:Estados" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="SelectEstadoResult" nillable="true" type="q28:ArrayOfEstados" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarEstadoID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarEstadoIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="BuscarEstadoIDResult" nillable="true" type="q29:ArrayOfEstados" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMarca">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="mar" nillable="true" type="q30:Marcas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMarcaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="InsertMarcaResult" nillable="true" type="q31:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMarca">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="mar" nillable="true" type="q32:Marcas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMarcaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="UpdateMarcaResult" nillable="true" type="q33:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMarca">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="mar" nillable="true" type="q34:Marcas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMarcaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="DeleteMarcaResult" nillable="true" type="q35:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectMarca">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="mar" nillable="true" type="q36:Marcas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectMarcaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="SelectMarcaResult" nillable="true" type="q37:ArrayOfMarcas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarMarcaID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarMarcaIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="BuscarMarcaIDResult" nillable="true" type="q38:ArrayOfMarcas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertModelo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="mod" nillable="true" type="q39:Modelos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertModeloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="InsertModeloResult" nillable="true" type="q40:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateModelo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="mod" nillable="true" type="q41:Modelos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateModeloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="UpdateModeloResult" nillable="true" type="q42:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteModelo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="mod" nillable="true" type="q43:Modelos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteModeloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="DeleteModeloResult" nillable="true" type="q44:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectModelo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="mod" nillable="true" type="q45:Modelos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectModeloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="SelectModeloResult" nillable="true" type="q46:ArrayOfModelos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarModeloID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarModeloIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="BuscarModeloIDResult" nillable="true" type="q47:ArrayOfModelos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertColor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="col" nillable="true" type="q48:Colores" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertColorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="InsertColorResult" nillable="true" type="q49:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateColor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="col" nillable="true" type="q50:Colores" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateColorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="UpdateColorResult" nillable="true" type="q51:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteColor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="col" nillable="true" type="q52:Colores" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteColorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="DeleteColorResult" nillable="true" type="q53:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectColor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="col" nillable="true" type="q54:Colores" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectColorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="SelectColorResult" nillable="true" type="q55:ArrayOfColores" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarColorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarColorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="BuscarColorIDResult" nillable="true" type="q56:ArrayOfColores" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTipoProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="tip" nillable="true" type="q57:TipoProductos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTipoProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="InsertTipoProductoResult" nillable="true" type="q58:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTipoProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="tip" nillable="true" type="q59:TipoProductos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTipoProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="UpdateTipoProductoResult" nillable="true" type="q60:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTipoProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="tip" nillable="true" type="q61:TipoProductos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTipoProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="DeleteTipoProductoResult" nillable="true" type="q62:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectTipoProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="tip" nillable="true" type="q63:TipoProductos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectTipoProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="SelectTipoProductoResult" nillable="true" type="q64:ArrayOfTipoProductos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTipoProductoID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTipoProductoIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="BuscarTipoProductoIDResult" nillable="true" type="q65:ArrayOfTipoProductos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="emp" nillable="true" type="q66:Empleados" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="InsertEmpleadoResult" nillable="true" type="q67:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="emp" nillable="true" type="q68:Empleados" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="UpdateEmpleadoResult" nillable="true" type="q69:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="emp" nillable="true" type="q70:Empleados" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="DeleteEmpleadoResult" nillable="true" type="q71:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="emp" nillable="true" type="q72:Empleados" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="SelectEmpleadoResult" nillable="true" type="q73:ArrayOfEmpleados" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertVehiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="veh" nillable="true" type="q74:Vehiculos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="InsertVehiculoResult" nillable="true" type="q75:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVehiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="veh" nillable="true" type="q76:Vehiculos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="UpdateVehiculoResult" nillable="true" type="q77:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectVehiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="veh" nillable="true" type="q78:Vehiculos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="SelectVehiculoResult" nillable="true" type="q79:ArrayOfVehiculos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarVehiculoID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarVehiculoIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="BuscarVehiculoIDResult" nillable="true" type="q80:ArrayOfVehiculos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="pro" nillable="true" type="q81:Proveedores" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="InsertProveedorResult" nillable="true" type="q82:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="pro" nillable="true" type="q83:Proveedores" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="UpdateProveedorResult" nillable="true" type="q84:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="pro" nillable="true" type="q85:Proveedores" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="DeleteProveedorResult" nillable="true" type="q86:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectProveedor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="SelectProveedorResult" nillable="true" type="q87:ArrayOfProveedores" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectDia">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectDiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="SelectDiaResult" nillable="true" type="q88:ArrayOfDias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="pro" nillable="true" type="q89:Productos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="InsertProductoResult" nillable="true" type="q90:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="pro" nillable="true" type="q91:Productos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="UpdateProductoResult" nillable="true" type="q92:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="pro" nillable="true" type="q93:Productos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="DeleteProductoResult" nillable="true" type="q94:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectProducto">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="SelectProductoResult" nillable="true" type="q95:ArrayOfProductos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTipoMovimiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="tim" nillable="true" type="q96:TipoMovimientos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTipoMovimientoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="InsertTipoMovimientoResult" nillable="true" type="q97:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTipoMovimiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="tim" nillable="true" type="q98:TipoMovimientos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTipoMovimientoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="UpdateTipoMovimientoResult" nillable="true" type="q99:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTipoMovimiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="tim" nillable="true" type="q100:TipoMovimientos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTipoMovimientoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="DeleteTipoMovimientoResult" nillable="true" type="q101:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectTipoMovimiento">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectTipoMovimientoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="SelectTipoMovimientoResult" nillable="true" type="q102:ArrayOfTipoMovimientos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMovimiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="mov" nillable="true" type="q103:Movimientos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertMovimientoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="InsertMovimientoResult" nillable="true" type="q104:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMovimiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="mov" nillable="true" type="q105:Movimientos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMovimientoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="DeleteMovimientoResult" nillable="true" type="q106:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectMovimiento">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectMovimientoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="SelectMovimientoResult" nillable="true" type="q107:ArrayOfMovimientos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertGrupoCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="gcl" nillable="true" type="q108:GrupoClientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertGrupoClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="InsertGrupoClienteResult" nillable="true" type="q109:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGrupoCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="gcl" nillable="true" type="q110:GrupoClientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGrupoClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="UpdateGrupoClienteResult" nillable="true" type="q111:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGrupoCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="gcl" nillable="true" type="q112:GrupoClientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGrupoClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="DeleteGrupoClienteResult" nillable="true" type="q113:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectGrupoCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="gcl" nillable="true" type="q114:GrupoClientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectGrupoClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="SelectGrupoClienteResult" nillable="true" type="q115:ArrayOfGrupoClientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarGrupoClienteID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarGrupoClienteIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="BuscarGrupoClienteIDResult" nillable="true" type="q116:ArrayOfGrupoClientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="cli" nillable="true" type="q117:Clientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="InsertClienteResult" nillable="true" type="q118:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="cli" nillable="true" type="q119:Clientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="UpdateClienteResult" nillable="true" type="q120:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="cli" nillable="true" type="q121:Clientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="DeleteClienteResult" nillable="true" type="q122:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCliente">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="SelectClienteResult" nillable="true" type="q123:ArrayOfClientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPaquete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="paq" nillable="true" type="q124:Paquetes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPaqueteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="InsertPaqueteResult" nillable="true" type="q125:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePaquete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="paq" nillable="true" type="q126:Paquetes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePaqueteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="UpdatePaqueteResult" nillable="true" type="q127:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPaquete">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPaqueteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="SelectPaqueteResult" nillable="true" type="q128:ArrayOfPaquetes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPaqueteDia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="pqd" nillable="true" type="q129:PaqueteDias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPaqueteDiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="InsertPaqueteDiaResult" nillable="true" type="q130:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePaqueteDia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="pqd" nillable="true" type="q131:PaqueteDias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePaqueteDiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="DeletePaqueteDiaResult" nillable="true" type="q132:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPaqueteDia">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPaqueteDiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="SelectPaqueteDiaResult" nillable="true" type="q133:ArrayOfPaqueteDias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPaqueteGrupoCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="pgc" nillable="true" type="q134:PaqueteGrupoClientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPaqueteGrupoClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="InsertPaqueteGrupoClienteResult" nillable="true" type="q135:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePaqueteGrupoCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="pgc" nillable="true" type="q136:PaqueteGrupoClientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePaqueteGrupoClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="DeletePaqueteGrupoClienteResult" nillable="true" type="q137:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPaqueteGrupoCliente">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPaqueteGrupoClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="SelectPaqueteGrupoClienteResult" nillable="true" type="q138:ArrayOfPaqueteGrupoClientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPaqueteProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q139="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="ppr" nillable="true" type="q139:PaqueteProductos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPaqueteProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q140="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="InsertPaqueteProductoResult" nillable="true" type="q140:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePaqueteProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="ppr" nillable="true" type="q141:PaqueteProductos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePaqueteProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q142="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="DeletePaqueteProductoResult" nillable="true" type="q142:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPaqueteProducto">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPaqueteProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q143="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="SelectPaqueteProductoResult" nillable="true" type="q143:ArrayOfPaqueteProductos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPromocion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q144="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="pro" nillable="true" type="q144:Promociones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPromocionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q145="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="InsertPromocionResult" nillable="true" type="q145:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePromocion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q146="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="pro" nillable="true" type="q146:Promociones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePromocionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q147="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="UpdatePromocionResult" nillable="true" type="q147:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPromocion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPromocionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q148="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="SelectPromocionResult" nillable="true" type="q148:ArrayOfPromociones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPromocionDia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q149="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="prd" nillable="true" type="q149:PromocionDias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPromocionDiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q150="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="InsertPromocionDiaResult" nillable="true" type="q150:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePromocionDia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q151="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="prd" nillable="true" type="q151:PromocionDias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePromocionDiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q152="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="DeletePromocionDiaResult" nillable="true" type="q152:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPromocionDia">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPromocionDiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q153="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="SelectPromocionDiaResult" nillable="true" type="q153:ArrayOfPromocionDias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPromocionPaquete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q154="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="prp" nillable="true" type="q154:PromocionPaquetes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPromocionPaqueteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q155="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="InsertPromocionPaqueteResult" nillable="true" type="q155:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePromocionPaquete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q156="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="prp" nillable="true" type="q156:PromocionPaquetes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePromocionPaqueteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q157="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="DeletePromocionPaqueteResult" nillable="true" type="q157:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPromocionPaquete">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPromocionPaqueteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q158="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="SelectPromocionPaqueteResult" nillable="true" type="q158:ArrayOfPromocionPaquetes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPromocionTipoProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q159="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="ptp" nillable="true" type="q159:PromocionTipoProductos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPromocionTipoProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q160="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="InsertPromocionTipoProductoResult" nillable="true" type="q160:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePromocionTipoProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q161="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="ptp" nillable="true" type="q161:PromocionTipoProductos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePromocionTipoProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q162="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="DeletePromocionTipoProductoResult" nillable="true" type="q162:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPromocionTipoProducto">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPromocionTipoProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q163="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="SelectPromocionTipoProductoResult" nillable="true" type="q163:ArrayOfPromocionTipoProductos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPromocionProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q164="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="ppr" nillable="true" type="q164:PromocionProductos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPromocionProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q165="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="InsertPromocionProductoResult" nillable="true" type="q165:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePromocionProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q166="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="ppr" nillable="true" type="q166:PromocionProductos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePromocionProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q167="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="DeletePromocionProductoResult" nillable="true" type="q167:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPromocionProducto">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPromocionProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q168="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="SelectPromocionProductoResult" nillable="true" type="q168:ArrayOfPromocionProductos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPromocionGrupoCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q169="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="ppr" nillable="true" type="q169:PromocionGrupoClientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPromocionGrupoClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q170="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="InsertPromocionGrupoClienteResult" nillable="true" type="q170:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePromocionGrupoCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q171="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="ppr" nillable="true" type="q171:PromocionGrupoClientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePromocionGrupoClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q172="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="DeletePromocionGrupoClienteResult" nillable="true" type="q172:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPromocionGrupoCliente">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPromocionGrupoClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q173="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="SelectPromocionGrupoClienteResult" nillable="true" type="q173:ArrayOfPromocionGrupoClientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertVenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q174="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="ven" nillable="true" type="q174:Ventas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertVentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q175="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="InsertVentaResult" nillable="true" type="q175:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q176="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="ven" nillable="true" type="q176:Ventas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q177="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="DeleteVentaResult" nillable="true" type="q177:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectVenta">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectVentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q178="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="SelectVentaResult" nillable="true" type="q178:ArrayOfVentas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertVentaDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q179="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="ved" nillable="true" type="q179:VentaDetalles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertVentaDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q180="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="InsertVentaDetalleResult" nillable="true" type="q180:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVentaDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q181="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="ved" nillable="true" type="q181:VentaDetalles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVentaDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q182="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="DeleteVentaDetalleResult" nillable="true" type="q182:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectVentaDetalle">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectVentaDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q183="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="SelectVentaDetalleResult" nillable="true" type="q183:ArrayOfVentaDetalles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertVentaDia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q184="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="ved" nillable="true" type="q184:VentaDias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertVentaDiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q185="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="InsertVentaDiaResult" nillable="true" type="q185:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVentaDia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q186="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="ved" nillable="true" type="q186:VentaDias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVentaDiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q187="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="DeleteVentaDiaResult" nillable="true" type="q187:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectVentaDia">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectVentaDiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q188="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="SelectVentaDiaResult" nillable="true" type="q188:ArrayOfVentaDias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q189="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="log" nillable="true" type="q189:Log" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q190="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="InsertLogResult" nillable="true" type="q190:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectLog">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q191="http://schemas.datacontract.org/2004/07/TDA.Entities" minOccurs="0" name="SelectLogResult" nillable="true" type="q191:ArrayOfLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>